<!-- This button triggers the overlay and is it's origin -->
<!-- <button (click)="isOpen = !isOpen" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
  {{isOpen ? "Close" : "Open"}}
</button> -->

<!-- This template displays the overlay content and is connected to the button -->
 <!-- <div class="container">
  <div class="wrapper" appDragby>
    <div class="dragby-wrapper">
      <div class="drag-by">

      </div>
    </div>
  </div>
</div> -->

<app-bottom-drawer>

</app-bottom-drawer>
<!--

  Event we need mousedown//touch start
 -->
